{
  "configurationSettings": [
    {
      "id": "123e4567-e89b-12d3-a456-426614174000",
      "configName": "behavior",
      "configValue": {
        "deletedRecordsSupport": "persistent",
        "suppressedRecordsProcessing": "true",
        "errorsProcessing": "200",
        "recordsSource": "Source record storage"
      }
    },
    {
      "id": "123e4567-e89b-12d3-a456-426614174001",
      "configName": "general",
      "configValue": {
        "enableOaiService": "true",
        "repositoryName": "FOLIO_OAI_Repository",
        "baseUrl": "http://folio.org/oai",
        "administratorEmail": "oai-pmh@folio.org",
        "timeGranularity": "YYYY-MM-DDThh:mm:ssZ"
      }
    }
  ],
  "totalRecords": 2
}
